<h1>Sign in</h1>
<div class="round" style="background-color: lightgray;width:50%;padding:5%;">
  <%= form_for(:session, :url => send_reset_password_sessions_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit "Reset Password" %>
    </div>
  <% end %>
</div>