<h3>Contact</h3>
<%#*<p>%>
  <%#*autoworker community%>
  <%#*<a href="http://autoworker.com/feedback">feedback page</a>.%>
<%#*</p>%>
<p>
  <%= mail_to "autoworker1@gmail.com", "contact us", :encode => "hex" %>
</p>

