<tr>
  <td class="micropost">
    <span class="content"><%= story.title %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(story.created_at) %> ago.
    </span>
  </td>
</tr>
<tr>
  <td class="micropost">
    <span class="content"><%= story.teaser %></span>
    </td>
</tr>

